.modal-blog__cabecera {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 18px 22px;
  background: #fff;

  @media (width <= 480px) {
    padding: 14px 16px;
  }
}
