.modal-blog__cuerpo {
  padding: 20px 24px;
  overflow-y: auto;
  background: #fff;
  flex: 1;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  gap: 12px;
  scrollbar-width: none;

  > :first-child {
    grid-column: 1 / -1;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  @media (width <= 480px) {
    padding: 16px 18px;
  }
}
