.proyectos__figura {
  display: block;
  width: 100%;
  height: 200px;
  margin: 0;
  overflow: hidden;

  @media (width <= 900px) {
    height: 180px;
  }

  @media (width <= 600px) {
    height: 200px;
  }

  @media (width <= 480px) {
    height: 160px;
  }
}
