@import url('./__etiqueta/contacto__etiqueta.css');
@import url('./__titulo/contacto__titulo.css');
@import url('./__contenedor/contacto__contenedor.css');
@import url('./__lista/contacto__lista.css');
@import url('./__subtitulo/contacto__subtitulo.css');
@import url('./__items/contacto__items.css');
@import url('./__item/contacto__item.css');
@import url('./__texto/contacto__texto.css');
@import url('./__formulario/contacto__formulario.css');
@import url('./__campo-text/contacto__campo-text.css');
@import url('./__campo-mensaje/contacto__campo-mensaje.css');
@import url('./__boton/contacto__boton.css');

.contacto {
  width: 100%;
  margin: 0 auto 48px;
  padding: 0 48px;
  box-sizing: border-box;

  @media (width <= 768px) {
    padding: 0 16px;
  }
}
