.boton--primario {
  background-color: var(--color-fondo);
  color: var(--color-primario);
  border: 2px solid var(--color-primario);
  margin-top: 12px;

  &:hover {
    background-color: var(--color-primario);
    color: var(--color-fondo);
  }
}
