.skills__imagen {
  width: 48px;
  height: 48px;
  display: block;
  object-fit: contain;

  @media (width <= 900px) {
    width: 44px;
    height: 44px;
  }

  @media (width <= 480px) {
    width: 40px;
    height: 40px;
  }
}
