.home__redes-sociales {
  margin-top: 7px;
  display: flex;
  gap: 15px;

  @media (width <= 768px) {
    justify-content: center;
    width: 100%;
  }

  @media (width <= 480px) {
    justify-content: center;
    width: 100%;
  }

  @media (width <= 360px) {
    justify-content: center;
    width: 100%;
  }
}
