.home__imagen {
  max-width: 300px;
  height: auto;

  @media (width <= 1200px) {
    max-width: 260px;
  }

  @media (width <= 900px) {
    max-width: 220px;
  }

  @media (width <= 768px) {
    max-width: 220px;
    margin: 0 auto;
  }

  @media (width <= 480px) {
    max-width: 160px;
  }

  @media (width <= 360px) {
    max-width: 140px;
  }
}
