@import url('./__lista/navegacion__lista.css');
@import url('./__item/navegacion__item.css');
@import url('./__link/navegacion__link.css');

.navegacion {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgb(255 255 255 / 80%);
  backdrop-filter: blur(10px);
  box-shadow: none;

  @media (width <= 768px) {
    padding: 12px 0;
  }
}
